body {
  margin: 0;
}


.main {
  min-height: 100vh;
}
.navBar {
  background-color:chocolate;

}

.navUl {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  padding-inline-start: 0;
  margin-top: 0;
}

.pink {
  color:pink;

}

.purple{
  color: blueviolet;
}

.githubIcon {
height: 10%;
width: 10%;
}