body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color:peru;
}


.main {
  min-height: 100vh;
}
.navBar {
  background-color:chocolate;

}

a:link {
color: black;
}

a:visited {
  color: black;
}

.navUl {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  padding-inline-start: 0;
  margin-top: 0;
  padding: 6px;
}

.H1 {
  padding-left: 10%;
}

.pink {
  color:pink;
  padding-left: 15%;
}

.purple{
  color: blueviolet;
  padding-left: 15%;
}

.p3 {
  padding-left: 15%;
}

footer {
  min-height: 20%;
  background-color: chocolate;
  padding-top: 5%;
  padding-bottom: 5%;

}

.pFooter {
  font-size: 21px;
text-align: center;


}



.githubIcon {
height: 10%;
width: 10%;
}